<p id="notice"><%= notice %></p>

    <% @posts.each do |post| %>
        <h2><%= post.title %></h2>
        <p>by <%= post.user.email if post.user %></p>
        <p> <%= post.body %></p>
	        <%= link_to 'Show', post, class: "btn btn-default" %>
        <% if post.user == current_user %>
	        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
	        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	        <% end %>
    <% end %>

<hr>

<% if user_signed_in? %>
	<%= link_to 'New Post', new_post_path, class: "btn btn-lg btn-success" %>
<% end %>